<div class="search-view">
	<div class="view-header">
		查找
	</div>
	<div class="view-content">
		<div class="search-area">
			<span class="search-icon"><i class="fa fa-search fa-fw"></i></span>
			<input type="text" name="searchinput" placeholder="请输入门票或景点名称">
		</div>
		<div class="search-list">
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
			<div class="search-item">
				<div class="left">
					<img src="./static/images/game-img-2.png">
				</div>
				<div class="right">
					<a href="detail.html">
						<p>xxx西安演唱会 预售xxx西安演唱会 预售xxx西安演唱会 预售</p>
						<span class="price">¥ 235.00 <small>起</small></span>
					</a>
				</div>
			</div>
		</div>
		<div class="search-more">
			触摸这里加载更多
		</div>
	</div>
</div>

<script>
	$(".search-view .search-more").on("tap",function(){
		alert("触摸屏幕将加载更多内容");
		return false;
	})

</script>