<div class="user-view">
	<div class="view-header">
		个人中心
	</div>
	<div class="view-content">
		<div class="user-info-item photo">
			<p><span class="info-title">头像</span><span class="pull-right"><img src="./static/images/game-img-2.png"></span></p>
		</div>
		<div class="user-info-item">
			<p>名字<span class="pull-right">张三</span></p>
		</div>
		<div class="user-info-item">
			<p>联系电话<span class="pull-right">18290000000</span></p>
		</div>
		<div class="user-info-item">
			<a href="address.html">
				<p>
					收货地址<span class="pull-right"><i class="fa fa-fw fa-angle-right"></i></span>
				</p>
			</a>
		</div>
		<div class="user-info-item">
			<p>性别<span class="pull-right">男</span></p>
		</div>
	</div>
</div>